{
  "FIREBASE_WEB_API_KEY": "YOUR_FIREBASE_WEB_API_KEY",
  "FIREBASE_WEB_APP_ID": "YOUR_FIREBASE_WEB_APP_ID",
  "FIREBASE_ANDROID_API_KEY": "YOUR_FIREBASE_ANDROID_API_KEY",
  "FIREBASE_ANDROID_APP_ID": "YOUR_FIREBASE_ANDROID_APP_ID",
  "FIREBASE_MACOS_API_KEY": "YOUR_FIREBASE_MACOS_API_KEY",
  "FIREBASE_MACOS_APP_ID": "YOUR_FIREBASE_MACOS_APP_ID"
}
